header {
    background-image: url("/images/bghead.png");
    background-size: cover;
    background-repeat: no-repeat;
}

section {
    background-image: url("/images/bigmoneybg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

ul {
    margin-top: -35px;
    /* moves nav upwards to cover up whitespace */
}